:root {
	--bgColor: linear-gradient(45deg, white, gray);
}

body {
	background-image: url(https://s3.amazonaws.com/welcomia-s3-public/assets/photo/medium/vintage_saloon_wood_background_18857.jpg);
	font-family: 'Smokum', cursive;
}

#Intro {
	margin-top: 10px;
	font-size: 100px;
	font-weight: 900;
	background-image: var(--bgColor);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
	outline-style: solid;
	outline-color: black;
}

#NamePlate {
	font-size: 70px;
	background-image: var(--bgColor);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	outline-style: solid;
	outline-color: black;
}

#CardContainer {
	font-size: larger;
}

